<div [formGroup]="leaveForm">
  <nz-form-item>
    <nz-form-label>Start Date:</nz-form-label>
    <nz-form-control>
      <nz-date-picker formControlName="startDate" (blur)="onTouched()"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>End Date:</nz-form-label>
    <nz-form-control>
      <nz-date-picker formControlName="endDate" (blur)="onTouched()"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Reason:</nz-form-label>
    <nz-form-control>
      <textarea nz-input rows="4" formControlName="reason" (blur)="onTouched()"></textarea>
    </nz-form-control>
  </nz-form-item>
</div>
