<form nz-form nzLayout="vertical" [formGroup]="leaveForm" (ngSubmit)="submit()">
  <nz-form-item>
    <nz-form-control>
      <input nz-input type="text" hidden [formControl]="leaveForm.controls.name">
      <input nz-input type="text" hidden [formControl]="leaveForm.controls.employeeId">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Start Date:</nz-form-label>
    <nz-form-control>
      <nz-date-picker [formControl]="leaveForm.controls.startDate"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>End Date:</nz-form-label>
    <nz-form-control>
      <nz-date-picker [formControl]="leaveForm.controls.endDate"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Reason:</nz-form-label>
    <nz-form-control>
      <textarea nz-input type="text" [formControl]="leaveForm.controls.reason"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control class="modal-buttons">
      <button nz-button nzType="primary">Submit</button>
    </nz-form-control>
  </nz-form-item>

</form>